*{
	margin: 0px;
	padding: 0px;
}
html,body{
	height: 100%;
	width: 100%;
	
}
#main{
	height: 100%;
	width: 100%;	
	background-color: white;
}

.block{
	height: 46%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	

	background-color: white;

	border: 1px solid #CCCCCC;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 1px rgba(63, 28, 28, 0.6) inset;
	-moz-box-shadow: 0px 2px 1px rgba(63, 28, 28, 0.6);
	box-shadow: 0 0 2px 1px rgba(63, 28, 28, 0.6);
}
table{
	width: 100%;
	height: inherit;
}
.heading{
	background: rgb(254,254,254);/* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #CCCCCC;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	display: block;
	font-size: 16px;
	text-align: center;
}